name: Terraform plan (Pull request commenter)

on:
  pull_request:
    branches:
      - main
    paths:
      - '**/*.tf'

permissions:
  contents: read
  pull-requests: write

jobs:
  pr-comment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Terraform bootstrap
        uses: ./.github/actions/terraform_bootstrap
        with:
          terraform_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform validate
        run: terraform validate

      # Basic Changes
      - name: Terraform fmt
        run: terraform fmt -check

      - name: Display
        run: echo "Success!"
