name: Deploy deploy

on:
  workflow_dispatch:

jobs:
  deployment:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Terraform bootstrap
        uses: ./.github/actions/terraform_bootstrap
        with:
          terraform_token: ${{ secrets.TF_API_TOKEN}}